.bg-image {
    position: relative;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: fantasy;
}
.left {
    position: absolute;
    top: 90%;
    left: 27%;
    transform: translate(-50%, -50%);
    font-family: 'Courier New', Courier, monospace;
}
.right {
    position: absolute;
    top: 90%;
    left: 73%;
    transform: translate(-50%, -50%);
    font-family: 'Courier New', Courier, monospace;
}