.navbar-link {
  --border: 1px solid #444;

  display: block;
  width: 15em;
  text-align: center;
  text-decoration: none;
  border: var(--border);
  border-left: none;

  background: none;
  cursor: pointer;
  font-size: inherit;
  color: white;
}
.neon {
  margin-left: 10px;
  font-family: Brush Script MT, Brush Script Std, cursive;
  color: #fff;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
}
.neon:hover {
  color: lightgrey;
  text-shadow: none;
}
form {
  margin-left: auto;
}
nav img {
  margin-right: 15px;
  width: 50px;
  height: 50px;
}
.navbar-link:first-child {
  border-left: var(--border);
}

.navbar-link:hover {
  background-color: #ddd;
}

.navbar-link:active {
  background-color: #666;
  color: white;
}

.active,
.active:hover,
.active:active {
  color: white;
  background-color: #444;
  cursor: default;
}
